.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  &__platform,
  & a {
    margin-right: 20px;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    color: $orange-color;
  }
  &__terms a {
    text-decoration: none;
  }
}
