extends layout

block content
  section.section-home
    .hero
      h2 Entra en comunión con los ángeles y arcángeles
      .blue-bar
      p Conoce las increibles aplicaciones virtuales que te acercan más a los Seres de luz
    form.form-newsletter(action="")
      p recibe artículos e información justo en tu bandeja de entrada
      .input-container
        input(type="text" placeholder="NOMBRE")
        input(type="email" placeholder="CORREO ELECTRÓNICO")
        button(type="submit") UNIRME
