extends layout

block content
  section.section-home
    unless methodGet
      .container-form-res
        if res.type == 'success'
          .form-res.success
            h4= res.msg
        else if res.type == 'error'
          .form-res.error
            h4= res.msg        
    .hero
      h2 Entra en comunión con los ángeles y arcángeles
      .blue-bar
      p Conoce las increibles aplicaciones virtuales que te acercan más a los Seres de luz
    form.form-newsletter(method="post")
      p recibe artículos e información justo en tu bandeja de entrada
      .input-container
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="text" name="arc_name" placeholder="NOMBRE")
        input(type="email" name="arc_email" placeholder="CORREO ELECTRÓNICO")
        button(type="submit") UNIRME

block append scripts
  script(src="/static/js/disappear.js")
  script(src="/static/js/validate-newsletter.js")