extends layout

block content
  section.section-home
    .hero
      h2 Próximamente para música angelical
      .blue-bar
      p Conoce las increibles aplicaciones virtuales que te acercan más a los Seres de luz